---
import type { BlokContentCallout } from '@libs/space-blok'
import { hexToCssRgba } from '@libs/space-utils'

import ContentRichText from './ContentRichText.astro'

export type Props = {
  content: BlokContentCallout
}

const { content } = Astro.props
const color = content.color ?? '#fff'
const backgroundColor = hexToCssRgba(color, 0.25)
---

<blockquote
  class="rounded border-2 bg-opacity-10 p-3 flex flex-row gap-3 mb-2"
  style={content.color
    ? `color: ${color}; border-color: ${color}; background-color: ${backgroundColor};`
    : ''}
>
  <span>{content.emoji}</span>
  <ContentRichText elements={content.elements} />
</blockquote>
