---
import Entry from '@components/Entry.astro'
import Section from '@components/section/Section.astro'
import SectionTitle from '@components/section/SectionTitle.astro'
import { getCollection } from 'astro:content'
const entries = await getCollection(
  'entries',
  (entry) => entry.data.publishDate < new Date() || import.meta.env.DEV
)
entries.sort(
  (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime()
)
---

<Section>
  <SectionTitle>Content</SectionTitle>
  <div class="flex flex-col md:grid md:grid-cols-2 gap-5">
    {
      entries.map((entry) => (
        <div class="">
          <Entry
            title={entry.data.title}
            creationDate={entry.data.publishDate}
            type={entry.data.type}
            tags={entry.data.tags}
            url={entry.data.type === 'blog' ? `/blog/${entry.slug}` : ''}
            cover={entry.data.cover}
          />
        </div>
      ))
    }
  </div>
</Section>
