---
import { getImage } from '@astrojs/image'
import { format } from 'date-fns'
interface Props {
  type: string
  title: string
  url?: string
  creationDate: Date
  tags?: string[]
  featuredImageUrl?: string
}

const { type, title, url, creationDate, tags, featuredImageUrl } = Astro.props

const formatedDate = format(creationDate || new Date(), 'dd.MM.yyyy')
const tag = tags?.[0]
const image =
  (featuredImageUrl &&
    (await getImage({
      src: featuredImageUrl,
      aspectRatio: '119 : 40',
      height: 320,
    }))) ||
  null
---

<article
  class="bg-cover bg-no-repeat bg-center rounded overflow-hidden border border-not-gray"
  style={image && `background-image: url(${image.src});`}
>
  <a href={url} class="@a:box @entry-bg p-4 flex flex-col gap-4">
    <div class="">
      <span class="@pseudo:brackets @pseudo:bold:not-blue">{type}</span>
      <h1 class="text-xl">{title}</h1>
      <p class="m-0">
        <time datetime={creationDate.toISOString()}>{formatedDate}</time>
        {tag && <span class="@bold:not-blue"> | </span>}
        {tag && <span>{tag}</span>}
      </p>
    </div>
  </a>
</article>
