---
import { format } from 'date-fns'
interface Props {
  type: string
  title: string
  url?: string
  creationDate?: Date
  tags?: string[]
}

const { type, title, url, creationDate, tags } = Astro.props

const formatedDate =
  (creationDate && format(creationDate, 'dd.MM.yyyy')) || 'draft'
const tag = tags?.[0]
---

<article class="rounded overflow-hidden border border-not-gray">
  <a href={url} class="@a:box @list-item p-4 flex flex-col gap-2">
    <p class="m-0">
      <span class="@pseudo:brackets @pseudo:bold:not-blue">{type}</span>
      <time datetime={creationDate?.toISOString()}>{formatedDate}</time>
      {tag && <span class="@bold:not-blue"> | </span>}
      {tag && <span>{tag}</span>}
    </p>
    <h1 class="text-xl">{title}</h1>
  </a>
</article>
