---
import { getImage } from '@astrojs/image'
import { format } from 'date-fns'
interface Props {
  type: string
  title: string
  url?: string
  creationDate: Date
  tags?: string[]
  featuredImageUrl?: string
}

const DEFAULT_FEATURED_IMAGE_URL =
  'https://images.unsplash.com/photo-1667478828745-0b3ec0c3f97a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1833&q=80'

const { type, title, url, creationDate, tags, featuredImageUrl } = Astro.props

const formatedDate = format(creationDate || new Date(), 'dd.MM.yyyy')
const tag = tags?.[0]
const imageUrl = featuredImageUrl || DEFAULT_FEATURED_IMAGE_URL
const image = await getImage({
  src: imageUrl,
  aspectRatio: '119 : 20',
  height: 160,
})
---

<article
  class="bg-cover bg-no-repeat bg-center rounded overflow-hidden border border-not-gray"
  style={`background-image: url(${image.src});`}
>
  <a href={url} class="@a:box @entry-bg p-4 flex flex-col gap-4">
    <div class="">
      <span class="@pseudo:brackets @pseudo:bold:not-blue">{type}</span>
      <h1 class="text-xl">{title}</h1>
      <p class="m-0">
        <time datetime={creationDate.toISOString()}>{formatedDate}</time>
        {tag && <span class="@bold:not-blue"> | </span>}
        {tag && <span>{tag}</span>}
      </p>
    </div>
  </a>
</article>
