---
import { format } from 'date-fns'
interface Props {
  type: 'blog' | 'youtube' | 'github'
  number?: number
  title: string
  url?: string
  creationDate: Date
  tags?: string[]
}

const { type, number, title, url, creationDate, tags } = Astro.props

const topText = type === 'blog' ? `#${number}` : type
const formatedDate = format(creationDate, 'dd.MM.yyyy')
const tag = tags?.[0]
---

<article
  class="bg-cover bg-no-repeat bg-center rounded overflow-hidden cursor-pointer group border border-not-gray transition-colors"
>
  <a href="#" class="hover:no-underline text-white font-normal">
    <div class="group-hover:bg-gray-900 p-4 flex flex-col gap-2">
      <p class="m-0">
        <span
          class="after:content-[']'] before:content-['['] before:text-not-blue before:font-bold after:text-not-blue after:font-bold"
          >{topText}</span
        >
        <time datetime={creationDate.toISOString()}>{formatedDate}</time>
        {tag && <span class="text-not-blue font-bold"> | </span>}
        {tag && <span>{tag}</span>}
      </p>
      <h1 class="text-xl">{title}</h1>
    </div>
  </a>
</article>
