---
import type { BlogBlokProps } from '@appTypes/blog-blok'
import Entry from '@components/Entry.astro'
import EntryLite from '@components/EntryLite.astro'
import Section from '@components/section/Section.astro'
import SectionTitle from '@components/section/SectionTitle.astro'
import type { Blok } from '@libs/space-blok'

export type Props = {
  entries: Blok<BlogBlokProps>[]
}
const { entries } = Astro.props

const getUrl = (entry: Blok<BlogBlokProps>) => {
  if (!entry.properties.link) return '#'
  if (entry.properties.type === 'blog-post') {
    return `/b/${entry.properties.link}`
  }
  return entry.properties.link
}
---

<Section>
  <SectionTitle>Entradas</SectionTitle>
  <div class="flex flex-col gap-5">
    {
      entries.map((entry, index) =>
        index === 0 ? (
          <Entry
            title={entry.title}
            creationDate={entry.properties.createdAt}
            type={entry.properties.type}
            number={1}
            tags={entry.properties.tags}
            url={getUrl(entry)}
          />
        ) : (
          <EntryLite
            title={entry.title}
            creationDate={entry.properties.createdAt}
            type={entry.properties.type}
            number={1}
            tags={entry.properties.tags}
            url={getUrl(entry)}
          />
        )
      )
    }
  </div>
</Section>
